.start-imgs{
    position: relative;
    margin-top: 3rem;
}

.titleCares{
    margin: 2rem;
}

.textCares{
    margin: 2rem;
}

.cares{
    max-height: 400px;
}

.cares img{
    padding: 1rem;
    height: 100%;
}

.card{
    height: 400px;
}

.card-footer{
    display: flex;
    justify-content: flex-end;
}

#myMap {
    width: 600px;
    height: 450px;
    /* frameborder: 0; */
    border:0;
    
}
