html,body{
    height: 100%;
}
header{
    margin-bottom: 50px;
   
}
.navbar{
    background-color: rgb(255, 158, 41);
}



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(253, 253, 253)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar-toggler {
    border-color: rgb(253, 253, 253);
   
  } 

.nav-link{
    color: azure;
}
.nav-item-u{
    color: azure;
}
.nav-item-u:hover{
    color: #0056b3;
    cursor: pointer;
}

.logo{
    width: 80%;
    
}
.carousel-item active {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.img-carousel{
   
    min-width: 100%;
  
   
}
.containerMarketing{
    padding-top: 200px;
}
.textobanner{
    text-shadow: 2px 2px 2px #000000;

}
h1{
    text-shadow: 2px 2px 2px #000000;

}
.content{
    margin-top: 50px;
}